
/* Banner.css */

/* Main banner container */
.banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  justify-content: space-between;
  padding: 27px 35px 27px 7rem;
  color: #fff; /* Text color for header and date */
}

  /* CSS for the banner content */
.banner-content {
  position: relative; /* Ensure content is above the overlay */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  /* margin-bottom: -16rem; */
}

.mantra-text {
  font-size: 20px;
  font-weight: 600;
  color: var(--light-color);  
  line-height: 1.7rem;
  padding: 1.6rem 0 4.8rem 2rem;
}

/* Right content (Date and Search Button) */
.right-content {
  display: flex;
  align-items: center; /* Center content vertically */
  gap: 2rem;
}
  

.small-banner-buttons-height {
  height: 12rem; /* Adjust the height as needed */
}

.large-banner-buttons-height {
  height: 29rem; /* Adjust the height as needed */
}

.medium-banner-height {
  height: 15rem;
}

.medium-banner-height .banner-footer {
  margin-bottom: -5rem;
}