
.banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  padding: 15px 15px 15px 5.6rem;
  color: #fff; /* Text color for header and date */
}

.banner-content {
  position: relative; /* Ensure content is above the overlay */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner-footer {
  width: 100%;
  position: relative;
}

.mantra-text {
  font-size: 20px;
  font-weight: 600;
  color: var(--light-color);  
  line-height: 1.7rem;
  padding: 1.2rem 0 4.6rem 2rem;
}

.right-content {
  display: flex;
  align-items: center; /* Center content vertically */
  gap: 2rem;
}

.banner-photo-height {
  margin-bottom: 3rem;
  max-height: 14rem;
}

.chapter-banner-height {
  height: 40rem; /* Adjust the height as needed */
}

.page-banner-height {
  height: 10.5rem;
}

.small-banner-buttons-height {
  height: 12rem; /* Adjust the height as needed */
}

.medium-banner-height .banner-footer {
  margin-bottom: -5rem;
}