.application-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon {
    height: 2rem;
}

.logo-name {
    color: var(--primary-green-color);
    font-weight: 800;
}

.promo-ad .image-overlay {
    display: flex;
    flex-direction: column;
    justify-content: end;
}