.application-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}
.logo-icon {
    height: 2rem;
}

.logo-name {
    color: var(--primary-green-color);
    font-weight: 800;
}