/* buttons.css */

.default-btn {
    font-weight: 600;
    display: block;
    padding: 8px 25px;
}
 
.tertiary-button {
    padding: 4px 10px;
    font-size: .90rem;
    color: var(--primary-color); /* Text color using CSS variable */
}

.page-button {
    border-radius: 4px; /* Rounded corners */
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color); /* Icon color */
    transition: color 0.3s, outline 0.3s; /* Transition properties for color and outline */
    border: 2px solid transparent; /* Transparent outline initially */
}

 

.page-button-medium {
    width: 55px; 
    height: 55px; /* Adjust the height as needed */
    font-size: 1.5rem;
}

.page-button-large {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}

.page-button.disabled {
    opacity: .4;
    pointer-events: none;
}

.page-button:hover {
    color: var(--primary-green-color); /* Change icon color on hover */
    outline: 2px solid var(--primary-green-color); /* Add an outline on hover */
}

.page-button:active,
.page-button:active * {
    background-color: var(--primary-green-color); /* Background color on click */
    color: #fff; 
    outline: none; /* Remove outline on click */
}

.circular-button {
    background-color: var(--tertiary-color); /* White background */
    border-radius: 100%; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-color); /* Icon color */
    transition: var(--transition-speed); /* Transition properties for color and outline */
    border: 2px solid transparent; /* Transparent outline initially */
}

.circular-button-small {
    height: 100%;
    width: 2.2rem;
}

.circular-button-small {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}

.circular-button-medium {
    width: 65px; /* Adjust the width as needed */
    height: 65px; /* Adjust the height as needed */
    font-size: 1.5rem;
}

.circular-button-large {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}

.circular-button:hover {
    color: #fff; /* Change icon color on hover */
    background-color: var(--primary-color); /* Background color on click */
}

.circular-button:active {
    color: #fff; /* Change icon color on hover */
    background-color: var(--primary-color); /* Background color on click */
}

.active-button .circular-button {
    color: #fff; /* Change icon color on hover */
    background-color: var(--primary-color); /* Background color on click */
}

.dashboard-navlinks .active-link {
    background-color: var(--primary-green-color); /* Background color on click */
    color: #fff; /* White icon color on click */
    outline: none; /* Remove outline on click */
}

.dashboard-navlinks span {
    color: var(--secondary-color);
    font-weight: 600;
}

.settings-nav button{
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;
    justify-content: start !important;
}

.settings-nav button:hover {
    outline: none;
    background-color: var(--secondary-color);
}

.settings-nav button:hover > .button-text {
    color: var(--light-color) !important;
}

.settings-nav .button-text {
    text-align: left;
    color: var(--secondary-color);
}

.settings-nav .active-link {
    background-color: var(--primary-color);
}

.settings-nav .active-link > .button-text{
    color: var(--light-color) ;
}

.pill-btn-secondary {
    padding: 0.5rem 1rem;
    max-width: 25rem;
    margin: 0 auto;
    color: var(--primary-green-color);
    background-color: var(--secondary-green-color);
}

.css-rwetz3-JoyMenuButton-root:hover {
    background-color: transparent;
}