
.call-sheet {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.call-sheet .content {
  height: 100%;
}

.call-sheet .company-logo {
  border-radius: var(--rounded-corners);
  padding: 1.2rem;
  color: var(--primary-color);
  width: 100%;
  height: 14rem;
}

.call-sheet .weather-info {
  background-color: #F8F8F8;
  border-radius: var(--rounded-corners);
  padding: 1.2rem;
  color: var(--primary-color);
  width: 100%;
  height: 14rem;
}

.call-sheet .company-logo .logo-img {
  width: 9rem;
  height: 7rem;
  border-radius: var(--rounded-corners);
}

.call-sheet .body {
  max-width: 70rem;
  height: 100%;
  width: 100%;
}

.call-sheet-views .active-link {
  background-color: var(--primary-green-color);
  color: var(--light-color);
}

.call-sheet-views .page-button, .call-sheet-anchors .page-button {
  margin: 0;
}

.imessage-bubble {
  display: inline-block;
  max-width: 70%;
  padding: 1.5rem;
  border-radius: 1.8rem;
  margin: 5px;
  word-wrap: break-word;
}

.imessage-bubble.mine {
  background-color: #007AFF;
  color: white;
  text-align: left;
}

.imessage-bubble.theirs {
  background-color: #E5E5EA;
  color: #333;
  text-align: left;
}
