.page-nav-container {
  transition: opacity 500ms, width 500ms 500ms;
  width: 0rem; /* Initial width */
  opacity: 0; /* Initial opacity */
  pointer-events: none; /* Initial pointer events */
}

.page-nav-container.visible {
  transition: width 500ms;
  opacity: 1;
  width: 18rem; /* Width when visible */
  pointer-events: auto; /* Pointer events when visible */
}


.letter {
  background: #fff;
  padding: 24px;
  position: relative;
  transition: .5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.letter:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.letter:hover:before {
  background: #fafafa;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  left: -12px;
  top: 4px;
  transform: rotate(-2.5deg);
  transition: .5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.letter:hover:after {
  background: #f6f6f6;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  right: -9px;
  top: 1px;
  transform: rotate(1.4deg);
  transition: .5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.dragging-row {
  /* Example styles to apply during drag */
  background-color: rgba(245, 245, 245, 0.8); /* slightly transparent background */
  width: 100%; /* maintain full width */
}

/* Ensure table cells have a defined width */
tr.mb-4 td {
  width: calc(100% / number_of_columns); /* Adjust accordingly */
}












  .container-base {
    background-color: #ffffff; /* White background */
    width: 100%;
    display: flex;
  }

  .enclosure {
    padding: 2rem;
    width: 100%;
  }
  
  .form-container {
    max-width: 32rem;
    min-height: 52rem;
    padding: 2.5rem;
  }
  
  .poster-container {
    height: 46rem;
    width: 28rem;
    background-color: #000;
    padding: 3rem;
    border-top-left-radius: var(--rounded-corners) !important;
    border-bottom-left-radius: var(--rounded-corners) !important;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .poster-container * {
    color: var(--light-color);
    text-align: center;
  }
  
  .image-container {
    overflow: hidden; /* Hidden overflow content */
    background-position: center center;
    background-repeat: no-repeat;
  }

  .image-container .image-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pricing-package {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #fff;
    transition: border 0.3s; /* Add a transition for smooth hover effect */
    max-width: 50rem;
    /* Optional: Add other styling for non-hovered state here */
  }

  .pricing-package:hover {
    border: 2px solid var(--secondary-color); /* Change to the primary-green color on hover */
  }

  /* Add styles for the active state */
  .pricing-package.active {
    border: 2px solid var(--primary-green-color); /* Change to the primary-green color on hover */
  }

  .email-container {
    border-radius: var(--rounded-corners);
  }
  



