
.form-group {
    margin-bottom: .75rem;
}


input,
select {
    border-radius: var(--rounded-corners) !important;
    padding: .75rem 1rem !important;
    background-color: var(--light-color) !important;
    border: 1px solid var(--tertiary-color) !important;
    outline: none !important;
    width: 100%;
}

input::placeholder,
select::placeholder {
    font-size: .85rem;
}