
.form-group {
    margin-bottom: .75rem;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select {
    border-radius: var(--input-corners);
    padding: .65rem .85rem;
    background-color: var(--light-color);
    border: 1px solid var(--tertiary-color);
    outline: none;
    width: 100%;
    color: var(--primary-color);
    font-size: .85rem;
    /* box-shadow: 0px 1px 1px rgba(0,0,0,.1); */
}
 
input::placeholder,
select option:disabled,
textarea::placeholder {
    font-size: .85rem !important;
    color: rgb(0,0,0,.2) !important;
}
 
input:focus,
textarea:focus {
    outline: none;
    border: 0px transparent;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

input:focus,
textarea:active {
    outline: none;
    border: 0px;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

/* Joy MUI Components */
.css-1btz9nl-JoyTextarea-root {
    --Textarea-focused: 0 !important;
    --Textarea-focusedThickness: var(--joy-focus-thickness, 0px) !important;
}

.MuiSelect-root,
.MuiTextarea-root,
.MuiAutocomplete-root {
    border-radius: var(--input-corners) !important;
    padding: .65rem .85rem !important;
    background-color: var(--light-color) !important;
    border: 1px solid var(--tertiary-color) !important;
    outline: none !important;
    width: 100% !important;
    color: var(--primary-color) !important;
    font-size: .85rem !important;
    /* box-shadow: 0px 1px 1px rgba(0,0,0,.1) !important; */
    height: 100%;
}

.css-rmmrnf-JoyAutocomplete-root{
    width: 100% !important;
}

.css-rmmrnf-JoyAutocomplete-root input {
    border-radius: var(--input-corners) !important;
    padding: .75rem .25rem !important;
    background-color: var(--light-color) !important;
    border: none !important;
    outline: none !important;
    width: 100%;
    color: var(--primary-color) !important;
}


.disabled-dropdown {
    background-color: #f0f0f0 !important;
    color: #a9a9a9 !important;
    cursor: not-allowed !important;
}
