:root {
    --rounded-corners: 0.5rem;
}

.card-container {
    background-color: #ffffff; /* White background */
    overflow: hidden; /* Hidden overflow content */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Shadow */
    border-radius: var(--rounded-corners);
    padding: 25px;
}

/* CSS for positioning the tooltip */
.tooltip {
    position: fixed;
    bottom: 5.5rem; /* Adjust the top position as needed */
    left: 1rem;
    width: 12rem; /* Position it to the right of the profile picture */
    z-index: 999; /* Ensure it's above other content */
    transition: var(--transition-speed);
}
