.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    z-index: 1000;
}

.modal-open {
    visibility: visible;
    opacity: 1;
}

.modal-closed {
    visibility: hidden;
    opacity: 0;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); /* Add this line */
    transition: backdrop-filter 0.5s; /* Add this line */
}

.modal-content {
    position: relative;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
 }

.modal-close-button {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 1.5rem;
    color: red;
    z-index: 500;
}


/* Overlay styles */
.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    z-index: 40; /* Ensure this is below the drawer's z-index */
}

.drawer-overlay-open {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease forwards;
}
 