/* profile-picture.css */

.profile-upload-state {
    border-radius: 50%; /* Rounded shape for a circular profile picture */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    border: dashed 2px var(--secondary-color);
    background-color: var(--light-color);
    color: transparent;
}

.profile-upload-state:hover {
  background-color: red;
}

.profile-picture-container {
    height: 50px;
    overflow: hidden;
    position: relative;
    color: var(--secondary-color);
    border: 2px solid var(--primary-green-color); /* 2px border with primary color */
    border-radius: 50%; /* Rounded shape for a circular profile picture */
  }
  
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered-content p {
    margin-top: 8px; /* Add spacing between the icon and text */
    width: 175px;
    font-size: .95rem;
  }
  .centered-content svg {
    font-size: 2.5rem;
    color: var(--tertiary-color)
  }
  