/* profile-picture.css */
.MuiAvatar-root {
  margin: 0 auto !important;
}

.banner .left-content .MuiAvatar-root {
  width: var(--Avatar-size, 12rem);
  height: var(--Avatar-size, 12rem);
}

.profile-photo {
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  width: 12rem;
  height: 12rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.profile-upload-state {
  border: dashed 3px var(--light-color);
  background-color: var(--secondary-color);
  color: var(--light-color);
  padding: 0 2rem;
  text-align: center;
}

.profile-photo.has-image{
  border: solid 3px var(--light-color);
}

.uploaded-state.has-image {
  color: transparent;
}