#production-schedule-form {
    border-collapse: separate; 
    border-spacing: 0rem .50rem;  
    margin-top: -9px;
}

#production-schedule-form thead tr th {
    font-size: .75rem;
    color: rgba(0,0,0,.5);
    font-weight: semibold;
}

div.table-scrollable-container { 
	max-height: 80vh; 
	overflow-y: scroll; 
	width: fit-content; 
    position: relative;
    padding-bottom: 1rem;
} 
 
div.table-scrollable-container > table > thead { 
	position: sticky; 
	top: 0px; 
    height: 1rem;
} 

#production-schedule-form tbody tr {
    box-shadow: 0px 2px 2px rgba(0,0,0,.05);
    border-radius: 10px;
    overflow: hidden;
    height: 3rem;
}

#production-schedule-form tbody tr td {
    padding: 0rem .5rem;
}

#production-schedule-form tbody tr td select,
#production-schedule-form tbody tr td input {
    height: 2.5rem;
    padding: 0rem .5rem;
    background-color: transparent;
    border: none;
    outline: none
}

#production-schedule-form tbody tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#production-schedule-form tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 2rem;
}

#production-schedule-form tbody tr td:first-child:hover {
    color: rgba(0,0,0,.5);
    transition: .5s ease-in-out;
}

#production-schedule-form tbody tr td:last-child:hover {
    color: red;
    transition: .5s ease-in-out;
}

#production-schedule-form   
select {
  -webkit-appearance: none;  
  -moz-appearance: none;  
  appearance: none;    
  border-style: none;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px 12px;  
}

select:focus {
  outline: none;
}

.react-beautiful-dnd-draggable {
    margin-right: 0;
    margin-left: 0;
}

#production-schedule-form .dragging-row {
    background-color: inherit; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 100%;  
}

#production-schedule-ui {
    border-collapse: separate; 
    border-spacing: 0rem .50rem;  
}

#production-schedule-ui tbody tr td {
    font-size: .85rem;
    padding: .75rem 0;
    color: rgba(0,0,0,.4);
}

#production-schedule-ui tbody tr td:first-child,
#production-schedule-ui tbody tr td:last-child {
    padding: .75rem .50rem;
    overflow: hidden;
}

#production-schedule-ui tbody tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#production-schedule-ui tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}