.schedule-container select,
.schedule-container select:focus,
.schedule-container select:active,
.schedule-container select:focus-visible {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    appearance: none !important; /* Standard property for all browsers */
    -webkit-appearance: none; /* For Chrome, Safari, and newer Edge */
    -moz-appearance: none; /* For Firefox */
    text-indent: 1px;
    text-overflow: ''; /* Make sure this value is appropriate */
}
 
.schedule-container .MuiTextarea-root {
    border: 0px !important;
    box-shadow: none !important;
    background: transparent !important;
}

.schedule-container textarea::placeholder {
    color: #fff !important;
    font-size: .75rem !important;
}


.int-day-combination.scene-style,
.int-day-combination.scene-style select {
     color: var(--primary-color);
}

.int-night-combination.scene-style,
.int-night-combination.scene-style select  {
    background-color: #51B2DB !important;
}

.ext-day-combination.scene-style,
.ext-day-combination.scene-style select  {
    background-color: #FFF291 !important;
    color: var(--primary-color);
}

.ext-night-combination.scene-style,
.ext-night-combination.scene-style select  {
    background-color: #3BAD74 !important;
}