.sidebar {
    overflow-x: hidden;
    display: none;
    padding: 2rem .75rem 1.5rem;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
}

.nav-links a svg {
    font-size: 1.3rem;
    border-radius: var(--button-corners);
}

.css-sbbi8o-JoyMenuButton-root {
    padding: 0 !important;
    border-radius: 100% !important;
    border: 0px !important;
}






/* Extra Small (xs) */
@media only screen and (min-width: 575px) {

}
  
  /* Small (sm) */
  @media only screen and (min-width: 860px) {
    .sidebar {
        display: flex;
    }  
  }
  
  /* Medium (md) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS styles for medium screens */
  }
  
  /* Large (lg) */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* CSS styles for large screens */
  }
  
  /* Extra Large (xl) */
  @media only screen and (min-width: 1200px) {
    /* CSS styles for extra large screens */
  }
  