h1 {
    font-size: 1.65rem; /* 42px converted to rems */
    font-weight: 700;
    line-height: 1.2;
}

h2 {
     font-weight: 700;
    line-height: 1.2;
 }

h3 {
    font-size: 1.2rem; /* 42px converted to rems */
    font-weight: 700;
    line-height: 1.2;
 }

h4 {
    font-size: 1rem; /* 42px converted to rems */
    font-weight: 600;
    line-height: 1;
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

.p-base {
    font-size: 1rem; /* 18px converted to rems */
    font-weight: 400; /* Semibold font weight */
    line-height: 1.2;
}

span {
    color: var(--secondary-color);
}