:root {
    --primary-color: #3B5E82;
    --secondary-color: #8EA2B7;
    --tertiary-color: #D7E1EE;
    --light-color: #FBFDFF;
    --primary-green-color: #44AD78;
    --secondary-green-color: #E2F3EA;
    --weather-blue-color: #3FC6FD;
    --dark-color: #2A2A2E;
    --transition-speed: 0.3s; 
    --rounded-corners: .5rem;
    --overlay-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
    --right-panel-width: 40rem;
    --right-panel-direction: -1; /* 1 for positive, -1 for negative */
}